body{
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
h1 {
    font-family: "Gobold High";
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 120px;
    /* identical to box height */
    letter-spacing: 1.5px;
  }
h2 {
    font-family: "Gobold High";
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 75px;
    /* identical to box height */
    letter-spacing: 1px;
  }
h3 {
    font-family: "Gobold High";
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height */
    letter-spacing: 1.5px;
  }
h4 {
    font-family: "Gobold High";
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 42px;
    letter-spacing: 2.5px;
  }
h5 {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }
h6 {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.15px;
}
// End Typography
